.heading{
    color: $white;
    font-size: 3rem;
    font-weight: 500;
    padding: 2rem 0;
}
.header{
    border: 1px solid black;
    grid-area: header;
    // background: radial-gradient(to bottom, $primary ,$white);
    position: relative;
}
.nav-links a{
    font-size: 1.8rem;
    font-weight: 500;
    color: $primary;
}
.border-top{
    width: 100%;
    height: 4px;
    background-color: $primary;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.main{
    border: 1px solid black;
    grid-area: main;
}
.article{
    border: 1px solid black;
    grid-area: article;
}
.sidebar-l{
    border: 1px solid black;
    grid-area: sidebar-l;
    display: grid;
    place-items: start;
    text-align: left;
}
.sidebar-r{
    border: 1px solid black;
    grid-area: sidebar-r;
}