.heading{
    color: $white;
    font-size: 3rem;
    font-weight: 500;
    padding: 2rem 0;
}
.header{
    grid-area: header;
    // background: radial-gradient(to bottom, $primary ,$white);
    position: relative;
    padding: 1rem;
}
.nav-links a{
    font-size: 1.8rem;
    font-weight: 500;
    color: $primary;
}
.border-top{
    width: 100%;
    height: 4px;
    background-color: $primary;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.main{
    grid-area: main;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // align-items: flex-start;
    text-align: left;
}
.article{
    grid-area: article;
}
.sidebar-l{
    grid-area: sidebar-l;
    text-align: left;
    position: relative;
    border-radius: 8px;
}

.sidebar-r-top,.sidebar-r-middle,.sidebar-r-bottom{
    position: relative;
    text-align: left;
    border-radius: 8px;
}
.article{
    position: relative;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // align-items: flex-start;
    text-align: left;
    height: 90%;
    align-self: start;
}
.article img{
    height: 8rem;
    object-fit: cover;
}
.main img{
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 50%;
}