*,*::after,*::before{
    box-sizing: border-box;
}
body{
    background-color: $page-color;
    font-family: $font-family;
}
a{
    text-decoration: none;
}
.tac {
    text-align: center;
}
.tal{
    text-align: left;
}
.flex{
    display: flex;
}
.jcc{
    justify-content: center;
}
.aic{
    align-items: center;
}
.jsb{
    justify-content: space-between;
}
.jse{
    justify-content: space-evenly;
}
.item{
    // padding: 1rem;
    background-color: $white;
    border: 1px solid black;
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 8px;
}
.container{
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "header header header" 
                            "sidebar-l main sidebar-r-top"
                            "article main sidebar-r-middle"
                            "article main sidebar-r-bottom";
    gap: 2rem;
}
.common-heading{
    font-size: 1.8rem;
    font-weight: 500;
    color: $heading-color;
    &-background{
        background-color: $primary;
        color: $white;
    }
}
.common-para{
    font-size: 1.2rem;
    font-weight: 500;
    color: $text-color;
}
.padding-top{
    padding-top: 1rem;    
}
.padding-bottom{
    padding-bottom: 1rem;
}
.margin-top{
    margin-top: 1rem;
}
.padding-left{
    padding-left: 0.6rem;
}
.btn{
    display: block;
    padding-bottom: 0.6rem;
    font-weight: 500;
    &-primary{
        background-color: $white;
        color: $secondary;
    }
    &-secondary{
        background-color: $secondary;
        color: $white;
    }
}

// Responsive 
@media screen and (max-width: 460px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat (3,1fr);
        grid-template-areas: "header header header"
                                "sidebar-l sidebar-l sidebar-l"
                                "article article article"
                                "main main main"
                                "sidebar-r-top sidebar-r-top sidebar-r-top"
                                "sidebar-r-middle sidebar-r-middle sidebar-r-middle"
                                "sidebar-r-bottom sidebar-r-bottom sidebar-r-bottom";
    }
}