/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #3a4a4f;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jse {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.item {
  background-color: #ffff;
  border: 1px solid black;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 8px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-areas: "header header header"  "sidebar-l main sidebar-r-top" "article main sidebar-r-middle" "article main sidebar-r-bottom";
  gap: 2rem;
}

.common-heading {
  font-size: 1.8rem;
  font-weight: 500;
  color: #415054;
}

.common-heading-background {
  background-color: #2d9cbf;
  color: #ffff;
}

.common-para {
  font-size: 1.2rem;
  font-weight: 500;
  color: #616b63;
}

.padding-top {
  padding-top: 1rem;
}

.padding-bottom {
  padding-bottom: 1rem;
}

.margin-top {
  margin-top: 1rem;
}

.padding-left {
  padding-left: 0.6rem;
}

.btn {
  display: block;
  padding-bottom: 0.6rem;
  font-weight: 500;
}

.btn-primary {
  background-color: #ffff;
  color: #f64225;
}

.btn-secondary {
  background-color: #f64225;
  color: #ffff;
}

@media screen and (max-width: 460px) {
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: repeat 3, 1fr;
        grid-template-rows: repeat 3, 1fr;
        grid-template-areas: "header header header" "sidebar-l sidebar-l sidebar-l" "article article article" "main main main" "sidebar-r-top sidebar-r-top sidebar-r-top" "sidebar-r-middle sidebar-r-middle sidebar-r-middle" "sidebar-r-bottom sidebar-r-bottom sidebar-r-bottom";
  }
}

.heading {
  color: #ffff;
  font-size: 3rem;
  font-weight: 500;
  padding: 2rem 0;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  position: relative;
  padding: 1rem;
}

.nav-links a {
  font-size: 1.8rem;
  font-weight: 500;
  color: #2d9cbf;
}

.border-top {
  width: 100%;
  height: 4px;
  background-color: #2d9cbf;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: main;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: left;
}

.article {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: article;
}

.sidebar-l {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sidebar-l;
  text-align: left;
  position: relative;
  border-radius: 8px;
}

.sidebar-r-top, .sidebar-r-middle, .sidebar-r-bottom {
  position: relative;
  text-align: left;
  border-radius: 8px;
}

.article {
  position: relative;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: left;
  height: 90%;
  -ms-flex-item-align: start;
      align-self: start;
}

.article img {
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.main img {
  width: 25rem;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */